<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Customer registration form</h1>

<form method="post">

<legend>Personal Information</legend>
<b>Bookname : </b><input type ="text" name="bookname" value="<%= bookname %>" ><br/><br/>
<b>Author : </b><input type ="text" name="author" value="<%= author %>" ><br/><br/>
<b>Price : </b><input type ="text" name="price" value="<%= price %>" ><br/><br/>

<input type="submit" value="submit">


</form>
</body>
</html>