<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Customer registration form</h1>

<form method="post">

<legend>Personal Information</legend>
<b>Username : </b><input type ="text" name="username"></br></br>
<b>Password : </b><input type ="password" name="password"></br></br>
<b>Email : </b><input type ="text" name="email"></br></br>
<b>Address : </b><input type ="text" name="address"></br></br>

 
<b>Gender :</b>
<select name="gender">
    <option value="Male">Male</option>
    <option value="Female">Female</option>
    <select><br/><br/>


   <b>Type :</b>
  <select name="type">
     <option selected value="Customer">Customer</option>
     <select><br/><br/>        

               
    
		



<input type="submit" value="SUBMIT">
<input type="reset" value="RESET">


</form>
</body>
</html>