<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Customer Home Page</h1>
    <a href="/customer/profile"><h3>Profile</h3></a> 
    <a href="/customer/booklist"><h3>BookList</h3></a> 
    <a href="/customer/orderbook"><h3>OrderBook</h3></a> 
    <a href="/logout"><h3>Logout</h3></a> 
</body>
</html>