<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Customer registration form</h1>

<form method="post">

<legend>Personal Information</legend>
<b>EmployeName : </b><input type ="text" name="employername"></br></br>
<b>Company : </b><input type ="text" name="company"></br></br>
<b>Contact : </b><input type ="text" name="contactno"></br></br>
<b>Username : </b><input type ="text" name="username"></br></br>
<b>Password : </b><input type ="password" name="password"></br></br>

   <b>Type :</b>
  <select name="type">
     <option selected value="Employee">Employee</option>
     <select><br/><br/>        
		
<input type="submit" value="SUBMIT">
<input type="reset" value="RESET">


</form>
</body>
</html>